# Visual Studio code files :
.vscode/

# Binary :
ListHIDDevice
RulesChecker
SwitchListener
*.o
*.a
*.exe
*.bin

# CMakeFiles :
tools/CMakeFiles/
tools/cmake*
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Other
output.txt
Notes.txt